{%load static%}
<html>
    <head>
        <title>ACCOUNT</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <img src = "{% static "books/logo.png" %}"  width="30" height="30" class="d-inline-block align-top" alt="Library">
                SELF CHECKOUT
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'logout_view'%}">Logout</a>
                </li>
            </ul> 
        </nav>
        <div class="input-group mb-3">
          
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="myInput" onkeyup="myFunction()" placeholder="Search by ISBN">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="title" onkeyup="searchtitle()" placeholder="Search by title">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="author" onkeyup="author()" placeholder="Search by author">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="year" onkeyup="year()" placeholder="Search by year">
          </div>
        <table class="table" id="myTable">
            <thead>
              <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
                {%for book in books%}
                <tr onclick="borrow(this)">
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>  
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                </tr>
                {%endfor%}
            </tbody>
          </table>
          <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
function author() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("author");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function year() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("year");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function searchtitle() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("title");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function borrow(x) {
  alert("Row index is: " + x.rowIndex);
}
            </script>
    </body>
</html>